@import "/ginora-sans-cufonfonts-webfont/style.css";
@import "~antd/dist/antd.css";

body {
  font-family: "Sans" !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Ginora Sans Light" !important;
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

.foo {
  display: none;
  opacity: 0;
  animation: fade-out 1s 1;
}
.foo.fade-in {
  display: block;
  opacity: 1;
  animation: fade-in 0.5s 1;
}
/* Application */
@import "/ginora-sans-cufonfonts-webfont/style.css";
@import "~antd/dist/antd.css";

body {
  font-family: "Sans" !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Ginora Sans Light" !important;
}
.emailerror {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.95em;
  display: block;
  padding-top: 0%;
}

input:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
}

.steps-action {
  margin-top: 24px;
}

label {
  font-weight: bold;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
input[type="radio"] {
  width: 20px;
  height: 15px;
}

.docLable {
  font-weight: bold;
}

.ant-divider-horizontal {
  display: inline-block !important;
  margin-top: 0%;
}

.newAppContent {
  font-size: "12pt";
  color: rgba(0, 0, 0, 0.65);
}
.newAppContent:hover {
  color: #7dc243;
}

.ant-collapse-header {
  border: 1px solid #7dc243;
}
/*style for navbar*/

.menuBar {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow-y: hidden;
  box-shadow: 0 0 30px #f3f1f1;
  font-size: 18pt;
}
.logo {
  width: 150px;
  float: left;
}
.menuCon {
  width: calc(100% - 150px);
  float: left;
}

.menuCon .ant-menu-item {
  padding: 0px 5px !important;
  font-size: 18pt;
  font-weight: lighter;
}
.menuCon .ant-menu-submenu-title {
  padding: 10px 20px !important;
  font-size: 18pt;
  font-weight: lighter;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px !important;
}

.menuCon .ant-menu-item a::selection {
  color: #7dc243 !important;
}
.menuCon .ant-menu-horizontal {
  border-bottom: none;
}
.menuCon .leftMenu {
  float: left;
}
.menuCon .rightMenu {
  float: right;
}
.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 20px;
  display: none !important;
  background: none;
}
.barsBtn {
  display: block !important;
  width: 20px;
  height: 2px;
  background: #ddf0ce;
  position: relative;
}
.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #ddf0ce;
}
.barsBtn:after {
  top: auto;
  bottom: -6px;
}
.ant-drawer-body {
  padding: 0 !important;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item {
  display: inline-block !important;
  font-size: 14pt !important;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: block !important;
  font-size: 14pt !important;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-overflowed-submenu {
  display: none !important;
}
.ant-drawer-body .ant-menu-item a:hover {
  color: #7dc243 !important;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none !important;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
  color: #7dc243 !important;
  border-bottom-color: #7dc243 !important;
}
.menuCon .ant-menu-horizontal :hover {
  color: #7dc243 !important;
  border-bottom-color: #7dc243 !important;
  font-weight: bold;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #7dc243 !important;
  border-bottom-color: #7dc243 !important;
  font-weight: bold;
}

.req:hover {
  color: #7dc243 !important;
}

.app:hover {
  color: #7dc243 !important;
}
.req {
  font-size: 12pt;
}

.ant-menu-submenu-open > .ant-menu-submenu-title {
  color: #7dc243 !important;
  font-weight: bold;
}
.ant-menu-submenu-open > .ant-menu-item-selected {
  color: #7dc243 !important;
  font-weight: bold;
}

.ant-menu-horizontal > .ant-menu-item-selected > a {
  color: #7dc243 !important;
  font-weight: bold;
}
#myApp {
  font-family: "Ginora Sans Bold";
  margin-bottom: "15px";
  text-align: center;
}
.ant-collapse-item:hover {
  border: 1px solid #7dc243;
}

.ant-menu-item-selected {
  color: #7dc243 !important;
}

.ant-btn-primary {
  background-color: #7dc243 !important;
  border-color: #7dc243 !important;
}

.ant-collapse-item-active {
  border: none !important;
}

.ant-table-header-column {
  font-weight: bold !important;
  font-size: 14pt !important;
}

.activeLink {
  color: #7dc243 !important;
}

i > svg {
  margin-top: -10px;
}

#country:hover,
#region:hover {
  border-color: #7dc243 !important;
}
#country > option {
  outline: none !important;
  box-sizing: unset !important;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block !important;
  }
  .leftMenu,
  .rightMenu {
    display: none !important;
  }
  .logo {
    margin-left: -20px;
    padding: 10px 20px;
  }
  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .addApplication {
    width: 100% !important;
  }

  .Frontlogo {
    width: 50%;
  }
  .reset-btn {
    width: 200px !important;
  }
  #resetHeader {
    font-size: 25px !important;
  }
  #loginCG {
    margin-top: 10px !important;
  }
  .sign-up {
    width: 100% !important;
  }
  #loginCard {
    position: fixed;
    top: 20%;
  }

  #PassResetHead {
    margin-left: 40px !important;
  }
}

/***********End for Navbar style***********/
